<%= simple_form_for(:user, url: password_resets_path, :html => {:class => 'form-vertical' }) do |f| %>
  <div class="field">
    <%= f.input :email,:required =>true, :autofocus => true %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>