<% if current_user %>
  <% provide(:title, current_user.username) %>
  <h1>Home#welcome <%= current_user.username %></h1>
<% else %>
  <% provide(:title, 'Home') %>
  <h1>Home#welcome</h1>
<% end %>
<p>Find me in app/views/home/welcome.html.erb</p>
